@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: #0265a3;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: red;
    margin-top: 30px;
}

.todolist {
    max-width: 400px;
    margin: 0 auto;
    min-height: 300px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 0px;
}

.todolist ul li {
    display: flex;
    line-height: 35px;
    list-style: none;
    width: 100%;
    padding: 0px 15px;
    height: 35px;
    border-bottom: 1px solid lightgray;
}

.todolist ul li p {
    flex-grow: 1;
}

.todolist ul li span {
    cursor: pointer;
}


.todolist ul li:hover {
    background-color: lightgray;
}

.todolist ul :last-child {
    border: none;
}

form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}


form input {
    margin: 10px 0px;
    font-size: 20px;
    flex-grow: 1;
    padding: 5px;
    border: none;
}

.txt {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn {
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 12px;
    background-color: red;
    border: 1px solid red;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.complete {
    text-decoration: line-through;
}